@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}
html {
  font-size: 62.5%;
}
/* Header Section */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header.active {
  animation: show-header 1.5s linear forwards;
  animation-delay: 1.2s;
}
@keyframes show-header {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;
}
nav a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
  margin-left: 3.5rem;
  transition: 0.5s;
}
nav a:hover,
nav a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 2rem;
  color: var(--white-color);
  display: none;
}
.bars-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.bars-box .bar {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: hide-bars 0.5s ease-in-out both;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes hide-bars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.bars-box.active .bar {
  animation: show-bars 0.5s ease-in-out both;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes show-bars {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
section {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10rem 9% 2rem;
  /* background: var(--bg-color); */
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
section.active {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

/* Home Section */
.home {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.home-detail h1 {
  font-size: 5rem;
  color: var(--white-color);
}
.home-detail h2 {
  display: inline-block;
  font-size: 3rem;
  margin-top: -1rem;
  color: var(--white-color);
}
.home-detail h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.07rem var(--main-color);
}
.home-detail h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 0.2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}
@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.home-detail p {
  color: var(--white-color);
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;
}
.home-detail .btn-sci {
  display: flex;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--bg-color);
  transition: 0.5s;
}
.btn:hover {
  background: transparent;
  color: var(--main-color);
  box-shadow: none;
}
.home-detail .btn-sci .sci {
  margin-left: 2rem;
}
.home-detail .btn-sci .sci a {
  display: inline-flex;
  padding: 0.8rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 0 0.8rem;
  transition: 0.5s;
}
.home-detail .btn-sci .sci a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 100rem;
  height: 100rem;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--main-color)
  );
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after {
  animation-delay: -5s;
}
@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}
.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  /* border-radius: 50%; */
  border: 0.1rem solid var(--bg-color);
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.home-img .img-box .img-item img {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.heading {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}
.heading span {
  color: var(--main-color);
}
/* Service Section */
.srevice-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  color: var(--white-color);
  gap: 2rem;
}
.srevice-container .service-box {
  padding: 3rem 2.5rem;
  background: var(--second-bg-color);
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 1rem;
  transition: 0.5s;
}
.srevice-container .service-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.service-box .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-box .icon i {
  font-size: 4.5rem;
  color: var(--white-color);
  transition: 0.5s;
}
.service-box:hover .icon :not(a i) {
  color: var(--main-color);
}
.service-box .icon a {
  display: inline-block;
  background: var(--white-color);
  border-radius: 50%;
  padding: 1rem;
}
.service-box .icon a i {
  font-size: 3rem;
  color: var(--bg-color);
  transform: rotate(225deg);
  transition: 0.5s;
}
.service-box .icon a:hover i {
  transform: rotate(180deg);
}
.service-box:hover .icon a {
  background: var(--main-color);
}
.service-box h3 {
  font-size: 3rem;
  margin: 0.5rem 0 2rem;
  transition: 0.5s;
}
.service-box:hover h3 {
  color: var(--main-color);
}
.service-box p {
  font-size: 1.6rem;
}
/* Resume Section */
.resume-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}
.resume-box h2 {
  font-size: 4.5rem;
  color: var(--white-color);
}
.resume-box p {
  font-size: 1.6rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
.resume-box.desc {
  margin: 2rem 0 2.5rem;
}
.resume-box .resume-btn {
  width: 100%;
  height: 5.3rem;
  background: var(--second-bg-color);
  border: 0.2rem solid var(--second-bg-color);
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.resume-box .resume-btn.active {
  border-color: var(--main-color);
  color: var(--main-color);
}
.resume-details {
  display: none;
}
.resume-details.active {
  display: block;
}
.resume-box .heading {
  font-size: 3.5rem;
  text-align: left;
}
.resume-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  height: 45rem;
  overflow: auto;
}
.resume-list::-webkit-scrollbar {
  width: 0.7rem;
}
.resume-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}
.resume-list:hover::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
.resume-list .resume-item {
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  padding: 3rem 2.5rem;
  height: calc((45rem - 2rem) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.resume-item .year {
  color: var(--main-color);
}
.resume-item h3 {
  font-size: 2.2rem;
  color: var(--white-color);
}
.resume-item .company {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.resume-item .company::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  background: var(--main-color);
  border-radius: 50%;
  margin-left: -1.8rem;
}
.resume-details.skills .resume-list {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  height: auto;
  overflow: visible;
}
.resume-details.skills .resume-item {
  position: relative;
  align-items: center;
  height: auto;
}
.resume-details.skills .resume-item i {
  font-size: 8.5rem;
  transform: 0.5s;
}
.resume-details.skills .resume-item:hover i {
  color: var(--main-color);
}
.resume-details.skills .resume-item span {
  position: absolute;
  top: -20%;
  background: var(--white-color);
  color: var(--bg-color);
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.5s;
}
.resume-details.skills .resume-item:hover span {
  top: -25%;
  opacity: 0;
  transform: scale(1);
}
.resume-details.about .resume-list {
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.resume-details.about .resume-item {
  height: auto;
  padding: 0 0 0.5rem;
  background: transparent;
}
.resume-details.about .resume-item p {
  color: var(--main-color);
}
.resume-details.about .resume-item p span {
  color: var(--white-color);
  margin-left: 1rem;
  font-size: 1.8rem;
}
/* Portfolio Section */
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  gap: 3rem;
}
.portfolio-detail {
  display: none;
}
.portfolio-detail.active {
  display: block;
}
.portfolio-box .numb {
  font-size: 8rem;
  -webkit-text-stroke: 0.07rem var(--white-color);
  color: transparent;
  line-height: 1;
}
.portfolio-box h3 {
  font-size: 3.5rem;
  margin: 0.8rem 0 2rem;
  color: var(--white-color);
}
.portfolio-box p {
  font-size: 1.6rem;
  color: var(--white-color);
}
.portfolio-box .tech p {
  margin: 2rem 0;
  color: var(--main-color) !important;
  border-bottom: 0.1rem solid var(--white-color);
  padding-bottom: 2rem;
}
.portfolio-box .live-github a {
  position: relative;
  display: inline-flex;
  padding: 1.3rem;
  font-size: 3rem;
  color: var(--white-color);
  border-radius: 50%;
  background: var(--second-bg-color);
  transition: 0.5s;
}
.portfolio-box .live-github a:hover {
  color: var(--main-color);
}
.portfolio-box .live-github a:first-child {
  margin-right: 1.5rem;
}
.portfolio-box .live-github a:first-child i {
  transform: rotate(135deg);
}

.portfolio-box .live-github a span {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  font-size: 1.6rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
  background: var(--white-color);
  color: var(--bg-color);
  opacity: 0;
  transition: 0.2s;
}
.portfolio-box .live-github a:hover span {
  top: -70%;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.portfolio-box .portfolio-carousel {
  width: 100%;
  height: 45rem;
  border-radius: 1rem;
}
.portfolio-box .img-slide {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 2rem;
  height: inherit;
  transition: 0.5s;
}
.portfolio-carousel .img-item {
  height: inherit;
}
.portfolio-carousel .img-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.portfolio-box .navigation {
  text-align: right;
  margin-top: 2rem;
}
.portfolio-box .navigation button {
  display: inline-flex;
  padding: 0.4rem;
  background: var(--second-bg-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  font-size: 4rem;
  color: var(--main-color);
  cursor: pointer;
}
.portfolio-box .navigation button.disabled {
  background: var(--second-bg-color);
  color: var(--disabled-color);
}
.portfolio-box .navigation .arrow-right {
  margin-left: 1.5rem;
}
/*  */
.tooltip {
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3rem 1rem;
  background: var(--main-color);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  font-weight: 500;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.nav-list li:hover .tooltip,
a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.portfolio-box1.work .portfolio-item {
  position: relative;
}
.portfolio-box1.work .portfolio-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.portfolio-box1.work .portfolio-item:hover::before {
  opacity: 0.6;
}
.portfolio-item .work-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}
.portfolio-item .work-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.portfolio-item:hover .work-img img {
  transform: scale(1.2);
}
.portfolio-item .work-info {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.portfolio-item .work-info h4 {
  line-height: 1;
}
.portfolio-item .work-info .tech-used {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--white-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.portfolio-item .portfolio-icon a {
  position: relative;
  display: inline-block;
  padding: 1rem;
  background: var(--white-color);
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--bg-color);
  transition: 0.3s;
}
.portfolio-item:hover .work-info {
  visibility: visible;
  opacity: 1;
}
.portfolio-item .work-info .portfolio-icon a:hover {
  background: var(--main-color);
}
.portfolio-item .work-icon a:nth-child(1) {
  margin-right: 1rem;
}
.portfolio-item .work-icon a:nth-child(1) i {
  transform: rotate(135deg);
}
.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  padding: 2rem;
}
.tab-grid {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
  gap: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* transform: scale(0.8); */
}
/*  */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem;
}
.contact-container .contact-box:first-child {
  align-self: center;
}
.contact-box h2 {
  font-size: 4.5rem;
  color: var(--white-color) !important;
}
.contact-box p {
  font-size: 1.6rem;
  color: var(--white-color) !important;
}
.contact-box .desc {
  margin: 1.5rem 0 2.5rem;
}
.contact-box .contact-detail {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.contact-detail i {
  display: inline-flex;
  background: var(--second-bg-color);
  color: var(--main-color);
  font-size: 3rem;
  padding: 1.2rem;
  border-radius: 0.6rem;
  margin-right: 1.5rem;
}
.contact-detail .detail p:first-child {
  color: var(--main-color);
}
.contact-box form {
  background: var(--second-bg-color);
  padding: 2.5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
}
.contact-box .heading {
  font-size: 3.5rem;
}
.contact-box .field-box {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  gap: 2rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea {
  padding: 1.5rem;
  background: var(--bg-color);
  border-radius: 0.6rem;
  font-size: 1.6rem;
  color: var(--white-color);
}
.contact-box .field-box textarea {
  grid-column: 1/-1;
  height: 26rem;
  resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
  border-color: var(--main-color);
}
.contact-box .btn {
  margin-top: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .tab-grid {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }
  .home-img .img-box {
  width: 32vw;
  height: 50vh;}
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 1024px) {
  .tab-grid {
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  }
      .home-img .img-box {
        width: 32vw;
        height: 38vh;}
}
@media screen and (max-width: 992px) {
  header {
    padding: 2rem 4%;
  }
  section {
    padding: 10rem 4% 2rem;
  }
}
@media screen and (max-width: 810px) {
  .contact-box .field-box {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
  }
  nav.active {
    display: block;
  }
  nav a {
    display: block;
    margin: 4rem 0;
  }
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }
  .home-img .img-box {
    width: 35rem;
    height: 35rem;
  }
  .resume-container,
  .portfolio-container,
  .contact-container {
    grid-template-columns: 1fr;
  }
  .resume-container {
    gap: 3rem;
  }
  .portfolio-container .portfolio-box:first-child {
    order: 1;
  }
  .tab-grid {
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  }
  .contact-box .field-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .home-img .img-box {
    width: 30rem;
    height: 30rem;
  }
  .contact-box .field-box {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 400px) {
  .home-detail,
  .resume-box h2,
  .resume-box .heading,
  .resume-box .desc,
  .resume-box.about .resume-item {
    text-align: center;
  }
  .home-detail .btn-sci {
    flex-direction: column-reverse;
  }
  .home-detail .btn-sci .sci {
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .contact-box form {
    padding: 2.5rem 3rem 3.5rem;
  }
  .contact-box h2 {
    font-size: 3.5rem;
  }
}
